body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	background-color: #f2f2f2;
	/*margin-left: 10%;*/
	/*margin-right: 10%;*/
	margin-top: 40px;
	/*margin-bottom: 80px;*/
	overflow: scroll;
}

@font-face{
    font-family: "Bebas";
    src: url('Bebas.ttf');
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-align: center;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 10px;
	line-height: 15px;
	display: inline-block;
}

nav {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	position: fixed;
	top: 20%;
	left: 8%;
}

a:link, a:visited {
	text-decoration: none;
	transition: 0.3s;
	color: #c6c6c6;
}

a:hover, a:active {
	text-decoration: none;
	color: black;
}


a.work, a.about, a.contact {
	line-height: 30px;
}

#name {
	position: fixed;
	top: 10%;
	font-size: 32px;
	color: black;
	left: 8%;
	font-family: "Anton";
}


.footer {
	position: fixed;
	bottom: 10%;
	left: 8%;
	color: #c6c6c6;
}

.contact_footer, .about_footer {
	display: none;
}

/*#socials {
	display: block;
	text-align: center;
	padding-top: 70px;
}*/

a.fa {
	font-size: 12px;
	width: 20px;
	text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram, .fa-linkedin, .fa-facebook {
	display: inline-block;
}




/*WORK PAGE*/

.description {
	display: block;
	margin: auto;
	max-width: 50%;
	text-align: justify;
    text-justify: inter-word;
    color: black;
}

.center {
	margin: auto;
	display: block;
	text-align: center;
	width: 50%;
}

.inline {
	display: inline-block;
	padding: 0.1%;
	max-width: 45%;
}

/*ABOUT*/
.me {
	display: block;
	text-align: justify;
	margin: auto;
	max-width: 40%;
    text-justify: inter-word;
}

.metext {
	display: inline-block;
	text-align: justify;
	text-justify: inter-word;
/*	font-family: "Lucida Sans Typewriter", sans-serif;
	font-size: 10px;
	line-height: 15px;*/
/*	position: relative;*/
}


.portrait {
	display: inline-block;
	box-shadow: 8px 8px 17px #c6c6c6;
	vertical-align: top;
	margin-top:5%;
	position: relative;
}

/*HOME*/

.works {
	display: block;
	text-align: center;
	position: relative;
	left: 25%;
	max-width: 70%;
}
.gallery {
	display: inline-block;
	text-align: justify;
	position: relative;
}

.previewImg {
	-webkit-filter: grayscale(1);
	-webkit-filter: contrast(1);
	cursor: pointer;
	transition: 0.3s;
/*	display: inline-block;
	text-align: center;*/
	margin: 1% 0.5%;
  	filter: contrast(1.2) grayscale(100%);
  	max-height: 230px;
  	-webkit-transition: scale(1);
  	transition: scale(1.02) .2s;
}

.previewImg:hover {
	-webkit-filter: grayscale(1);
	filter: grayscale(0%);
    -webkit-transition: scale(1);
    transform: scale(1.02);
 }

/*CONTACT*/


form {
	font-family: 'Roboto Mono', sans-serif;
	display: block;
	text-align: center;
	text-justify: inter-word;
}

input[type=text] {
	width: 30%;
	padding: 5px 8px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
	resize: none;
	border: 1px solid #c6c6c6;
}
input[type=submit], [type=reset] {
	font-family: 'Roboto Mono', sans-serif;
	cursor: pointer;
	text-decoration: none;
	margin: 2px 2px;
	border: none;
	background-color: white;
	color: #767676;
	padding: 5px 13px;
}

input[type=submit]:hover, [type=reset]:hover {
	color: black;
}

#comment {
	width: 30%;
	height: 100px;
	box-sizing: border-box;
}





@media screen and (max-width: 1020px) {
	.works {
		display: block;
		text-align: center;
		margin: auto;
		left: 0%;
	}
/*	.gallery {
		display: block;
		text-align: center;
		position: relative;
		margin: auto;
	}*/


	.previewImg {
		display: block;
		text-align: center;
		margin: 1% 0.5%;
		max-width: 100%;
		max-height: none;

	}
	.description {
		display: block;
		margin: auto;
		max-width: 80%;
		text-align: justify;
   		text-justify: inter-word;
    	color: black;
	}
	.center {
		margin: auto;
		display: block;
		text-align: center;
		width: 100%;
	}
	
	.footer {
		position: relative;
		bottom: 10%;
		color: #c6c6c6;
		text-align: center;
		display: block;
		max-width: 85%;
	}

	nav {
	display: none;
	}

/*	nav {
	font-family: "Lucida Sans Typewriter", sans-serif;
	font-size: 12px;
	position: fixed;
	top: 20%;
	left: 8%;
}*/

	#name {
		max-width: 85%;
		position: relative;
		text-align: center;
		display: block;
		font-size: 32px;
		color: black;
		font-family: "Anton";
	}
	.work {
		display: none;
	}
	.about {
		display: none;
	}

	.contact_footer {
	display: inline-block;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
}
	.about_footer {
	display: inline-block;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
}

p {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
	line-height: 17px;
	display: inline-block;
}
.me {
	display: block;
	text-align: justify;
	margin: auto;
	max-width: 90%;
    text-justify: inter-word;
}